<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="" routerLink="app-home" >Airport module</a>
  
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-support">
  
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbar-support">
  <ul class="navbar-nav">
  
      <li class="nav-item">
  <a class="nav-link" href="#" routerLink="airport-details">Airport Details</a>
  
      </li>
  
      
      <li class="nav-item">
          <a class="nav-link" href="#" routerLink="airports-list">Airports list</a>
          
      </li>
  
              
      <li class="nav-item">
          <a class="nav-link" href="#" routerLink="add-airport">Add airport</a>
          
       </li>
</ul>
  </div>
  </nav>
<div class="container">
<div class="row">
<div class="col-md-9">
<div style="margin-top: 50px;margin-bottom: 20px;">
<router-outlet></router-outlet>
</div>
</div>
<div class="offset-md-1 col-md-2">
  <div style="margin-top: 50px;margin-bottom: 20px;">
</div>
</div>
</div>
</div>