html, body { height: 100%; }
* { margin: 0; font-family: 'Roboto Slab', serif; }


body{
  background-repeat: no-repeat;
  background-size: 100vw 150vh;
  background-color: khaki;
}
hr{
  border-color: darkgray;
}
.error{
    color : red;
}
